/**
 * HomeBuilder v1.0.0 (http://themebucket.net/)
 * Copyright 2015-2016 ThemeBucket
 * Licensed under the Envato license
 */
@charset "UTF-8";
/*------------------------------------------------------------------
Table of contents

0. Preloader
1. Typography
2. Forms
3. Buttons
4. Dropdowns
5. Nav
6. Breadcrumb
7. Alert
8. Utilities
9. WP-utilities
10. Arrow
11. Colors
12. Photo-grid
13. Photo-hover
14. Headroom
15. Twentytwenty
16. Owl Carousel
17. Brand
18. Pricing
19. WP
20. WP-blog
21. WP-widget

-------------------------------------------------------------------*/
/*-------------------------------------------------------------------
    Preloader
-------------------------------------------------------------------*/
#preloader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #fff;
  z-index: 99999; }
  #preloader .preloader-container {
    display: block;
    width: 128px;
    height: 128px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -64px 0 0 -64px; }
    #preloader .preloader-container span {
      position: relative;
      display: inline-block;
      width: 7px;
      height: 7px;
      margin: 10px;
      background-color: #ffd460;
      -webkit-animation: zoomzoom 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal;
      animation: zoomzoom 2s cubic-bezier(0.75, 0, 0.5, 1) infinite normal; }
      #preloader .preloader-container span::before {
        content: '';
        position: absolute;
        top: -3px;
        bottom: -3px;
        left: -3px;
        right: -3px;
        border: 1px solid #ffd460; }
      #preloader .preloader-container span:nth-child(2) {
        -webkit-animation-delay: .2s;
        animation-delay: .2s; }
      #preloader .preloader-container span:nth-child(3) {
        -webkit-animation-delay: .4s;
        animation-delay: .4s; }

@-webkit-keyframes zoomzoom {
  50% {
    -webkit-transform: scale(0.1) rotate(360deg);
    transform: scale(0.1) rotate(360deg); }
  100% {
    -webkit-transform: scale(1) rotate(720deg);
    transform: scale(1) rotate(720deg); } }

@keyframes zoomzoom {
  50% {
    -webkit-transform: scale(0.1) rotate(360deg);
    transform: scale(0.1) rotate(360deg); }
  100% {
    -webkit-transform: scale(1) rotate(720deg);
    transform: scale(1) rotate(720deg); } }
/*-------------------------------------------------------------------
    Typography
-------------------------------------------------------------------*/
* {
  word-wrap: break-word; }

body {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: #26282b;
  background-color: #ffffff;
  -webkit-font-smoothing: antialiased;
  line-height: 2;
  letter-spacing: 0;
  overflow-x: hidden; }

*:focus {
  outline: 0 !important; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  line-height: 1.3;
  text-transform: uppercase;
  color: inherit; }
  h1 small,
  h1 .small, h2 small,
  h2 .small, h3 small,
  h3 .small, h4 small,
  h4 .small, h5 small,
  h5 .small, h6 small,
  h6 .small {
    font-weight: inherit;
    line-height: 1;
    color: inherit; }

.h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: normal; }

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin: 0; }

h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%; }

h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 21px; }

h5, .h5 {
  font-size: 18px; }

h6, .h6 {
  font-size: 14px; }

small,
.small {
  font-size: 85%; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  -webkit-transition: all .3s;
  transition: all .3s; }
  a:hover, a:focus {
    color: #ffd460;
    text-decoration: none; }

.badge.up {
  position: absolute;
  min-width: 15px;
  min-height: 15px;
  margin-top: -7px;
  margin-left: -8px;
  padding: 3px 6px;
  font-size: 12px;
  line-height: 1; }

.label {
  font-size: 14px;
  color: #a7acb4;
  font-weight: 400;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .label:hover, .label:focus {
    color: #26282b !important; }

.list-group {
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-left: -15px;
  margin-right: -15px; }
  .list-group .list-group-item {
    background-color: transparent;
    color: #26282b;
    padding: 20px 15px;
    -webkit-border-radius: 0 !important;
    border-radius: 0 !important;
    border: none;
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: #f4f4f4; }
    .list-group .list-group-item:hover, .list-group .list-group-item:active, .list-group .list-group-item:focus {
      color: #26282b;
      background-color: white; }
  .list-group.b-nones .list-group-item {
    border: none; }

.tab-content {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  -webkit-border-radius: 0;
  border-radius: 0; }

.font-sans {
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; }

.font-serif {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif; }

.font-monospace {
  font-family: Menlo, Monaco, Consolas, "Inconsolata", monospace; }

.font-light {
  font-weight: 300; }

.font-normal {
  font-weight: 400; }

.font-semi-bold {
  font-weight: 600; }

.font-bold {
  font-weight: 700; }

.font-extra-bold {
  font-weight: 900; }

.font-italic {
  font-style: italic; }

.text-muted {
  color: #b5b9c0; }

.text-base {
  font-size: 14px; }

.text-xl {
  font-size: 62px; }

.text-lg {
  font-size: 21px; }

.text-md {
  font-size: 16px; }

.text-sm {
  font-size: 13px; }

.text-xs {
  font-size: 12px; }

.text-xxs {
  font-size: 11px; }

.text-ellipsis {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }

.l-h-base {
  line-height: 2; }

.l-h-0x {
  line-height: 1.2 !important; }

.l-h-1x {
  line-height: 1.8; }

.l-h-2x {
  line-height: 2; }

.l-s-0x {
  letter-spacing: 0; }

.l-s-1x {
  letter-spacing: 0.0625em; }

.l-s-2x {
  letter-spacing: 0.125em; }

.l-s-3x {
  letter-spacing: 0.1875em; }

.text-u-c {
  text-transform: uppercase; }

.text-l-c {
  text-transform: lowercase; }

.text-cap {
  text-transform: capitalize; }

.text-u-l {
  text-decoration: underline; }

.text-o-l {
  text-decoration: overline; }

.text-l-t {
  text-decoration: line-through; }

.text-shadow {
  text-shadow: 0 5px 10px rgba(0, 0, 0, 0.125), 0 10px 20px rgba(0, 0, 0, 0.2); }

.box-shadow {
  -webkit-box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.05), 0 1px 0 rgba(0, 0, 0, 0.05); }

.box-shadow-md {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15); }

.box-shadow-all {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }

.no-shadow {
  -webkit-box-shadow: none !important;
  box-shadow: none !important; }

/*-------------------------------------------------------------------
    Forms
-------------------------------------------------------------------*/
.form-group {
  margin-bottom: 20px; }

textarea.form-control {
  height: auto;
  max-width: 100%;
  min-width: 100%;
  vertical-align: top; }

.form-control {
  border-color: #e2e2e2;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  height: 46px; }

.form-control,
.form-control:focus {
  -webkit-box-shadow: none;
  box-shadow: none; }

.form-control:focus {
  border-color: #ffd460; }

.form-control-feedback {
  line-height: 34px !important; }

.has-success .help-block,
.has-success .control-label,
.has-success .radio,
.has-success .checkbox,
.has-success .radio-inline,
.has-success .checkbox-inline, .has-success.radio label, .has-success.checkbox label, .has-success.radio-inline label, .has-success.checkbox-inline label {
  color: #60bf53; }
.has-success .form-control {
  border-color: #60bf53;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-success .form-control:focus {
    border-color: #49a33c;
    -webkit-box-shadow: none;
    box-shadow: none; }
.has-success .input-group-addon {
  color: #60bf53;
  border-color: #60bf53;
  background-color: #ffffff; }
.has-success .form-control-feedback {
  color: #60bf53; }

.has-warning .help-block,
.has-warning .control-label,
.has-warning .radio,
.has-warning .checkbox,
.has-warning .radio-inline,
.has-warning .checkbox-inline, .has-warning.radio label, .has-warning.checkbox label, .has-warning.radio-inline label, .has-warning.checkbox-inline label {
  color: #dd6c5f; }
.has-warning .form-control {
  border-color: #dd6c5f;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-warning .form-control:focus {
    border-color: #d44535;
    -webkit-box-shadow: none;
    box-shadow: none; }
.has-warning .input-group-addon {
  color: #dd6c5f;
  border-color: #dd6c5f;
  background-color: #ffffff; }
.has-warning .form-control-feedback {
  color: #dd6c5f; }

.has-error .help-block,
.has-error .control-label,
.has-error .radio,
.has-error .checkbox,
.has-error .radio-inline,
.has-error .checkbox-inline, .has-error.radio label, .has-error.checkbox label, .has-error.radio-inline label, .has-error.checkbox-inline label {
  color: #ff3040; }
.has-error .form-control {
  border-color: #ff3040;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .has-error .form-control:focus {
    border-color: #fc0013;
    -webkit-box-shadow: none;
    box-shadow: none; }
.has-error .input-group-addon {
  color: #ff3040;
  border-color: #ff3040;
  background-color: #ff3040; }
.has-error .form-control-feedback {
  color: #ff3040; }

/*-------------------------------------------------------------------
    Buttons
-------------------------------------------------------------------*/
.btn {
  font-weight: 400;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  outline: 0 !important;
  padding: 12px 30px; }
  .btn-xs {
    padding: 6px 15px;
    font-size: 12px; }
  .btn-sm {
    padding: 8px 20px;
    font-size: 13px; }
  .btn-lg {
    padding: 16px 40px;
    font-size: 16px; }
  .btn + .btn {
    margin-left: 15px; }
    @media (max-width: 667px) {
      .btn + .btn {
        margin-left: 0;
        margin-top: 15px;
        display: table; } }

.btn-default {
  color: #26282b;
  background-color: #ffffff;
  border-color: #26282b; }
  .btn-default:focus, .btn-default.focus {
    color: #26282b !important;
    background-color: #e6e6e6 !important;
    border-color: #090a0b !important; }
  .btn-default:hover {
    color: #26282b;
    background-color: #f2f2f2;
    border-color: #18191b; }
  .btn-default:focus, .btn-default.focus, .btn-default:hover {
    color: #ffffff;
    background-color: #26282b;
    border-color: #26282b; }

.btn-white {
  color: #26282b;
  background-color: #f4f4f4;
  border-color: #ffffff; }
  .btn-white:focus, .btn-white.focus {
    color: #26282b !important;
    background-color: #dbdbdb !important;
    border-color: #e0e0e0 !important; }
  .btn-white:hover {
    color: #26282b;
    background-color: #e7e7e7;
    border-color: #f0f0f0; }

.btn-dark {
  color: #ffffff;
  background-color: #26282b;
  border-color: #26282b; }
  .btn-dark:focus, .btn-dark.focus {
    color: #ffffff !important;
    background-color: #0e0f10 !important;
    border-color: #090a0b !important; }
  .btn-dark:hover {
    color: #ffffff;
    background-color: #1a1b1d;
    border-color: #18191b; }

.btn-black {
  color: #ffffff;
  background-color: #1b1c1e;
  border-color: #1b1c1e; }
  .btn-black:focus, .btn-black.focus {
    color: #ffffff !important;
    background-color: #030303 !important;
    border-color: black !important; }
  .btn-black:hover {
    color: #ffffff;
    background-color: #0f0f11;
    border-color: #0d0d0e; }

.btn-primary {
  color: #26282b;
  background-color: #ffd460;
  border-color: #ffd460; }
  .btn-primary:focus, .btn-primary.focus {
    color: #26282b !important;
    background-color: #ffc62d !important;
    border-color: #ffc323 !important; }
  .btn-primary:hover {
    color: #26282b;
    background-color: #ffcd47;
    border-color: #ffcc41; }

.btn-info {
  color: #ffffff;
  background-color: #337Ab7;
  border-color: #337Ab7; }
  .btn-info:focus, .btn-info.focus {
    color: #ffffff !important;
    background-color: #285f8f !important;
    border-color: #265a87 !important; }
  .btn-info:hover {
    color: #ffffff;
    background-color: #2d6da3;
    border-color: #2c6a9f; }

@media screen and (max-width: 768px) {
  .text-left-xs {
    text-align: left; }

  .text-center-xs {
    text-align: center; } }
/*-------------------------------------------------------------------
    Dropdowns
-------------------------------------------------------------------*/
.dropdown-menu {
  font-size: 12px;
  -webkit-border-radius: 0;
  border-radius: 0;
  padding: 13px 0;
  border: 1px solid rgba(0, 0, 0, 0.05);
  -webkit-box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1);
  box-shadow: 2px 4px 15px rgba(0, 0, 0, 0.1); }
  .dropdown-menu > li > a {
    line-height: 2;
    color: #8c929d;
    padding: 6px 30px;
    white-space: normal; }
    .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus, .dropdown-menu > li > a:active {
      color: #ffd460;
      background-color: transparent; }
  .dropdown-menu .divider {
    margin: 10px 0; }

.dropdown-header {
  padding: 0 0 10px; }

.dropdown-menu > .arrow,
.dropdown-menu > .arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
  content: ""; }

.dropdown-menu > .top.arrow {
  right: 12px;
  border-top-width: 0;
  border-bottom-color: #cacaca;
  top: -8px; }

.dropdown-menu > .top.arrow:after {
  content: " ";
  margin-left: -8px;
  border-top-width: 1px;
  border-bottom-color: white; }

@media (min-width: 768px) {
  .dropdown-submenu .dropdown-menu {
    margin-top: -13px; } }
.dropdown-submenu.dropdown-submenu-left ul {
  left: auto;
  right: 100%; }

.dropdown-submenu > a::after {
  margin-top: 0;
  content: "\f105";
  font-family: 'FontAwesome';
  border: none; }

.navbar-right .dropdown-submenu > a::after {
  content: "\f104";
  border: none; }

.dropdown-menu-right .dropdown-submenu .dropdown-menu,
.navbar-right .dropdown-submenu .dropdown-menu {
  -webkit-border-top-left-radius: 0px;
  border-top-left-radius: 0px; }

/*-------------------------------------------------------------------
    Nav
-------------------------------------------------------------------*/
.navbar-nav {
  text-align: center; }
  .navbar-nav > li > .dropdown-menu {
    margin-top: 19px; }
  .navbar-nav > .active > a {
    color: #ffd460; }
    .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
      color: #ffd460; }
  .navbar-nav .dropdown-menu {
    width: 210px;
    text-transform: none;
    letter-spacing: 0;
    font-size: 14px; }
    .navbar-nav .dropdown-menu .active > a, .navbar-nav .dropdown-menu:hover > a, .navbar-nav .dropdown-menu:focus > a {
      background-color: transparent;
      color: #ffd460; }

.nav > li > a {
  font-size: 12px;
  color: #1b1c1e; }
  .nav > li > a:hover, .nav > li > a:focus {
    color: #ffd460;
    background-color: transparent; }
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: transparent; }
@media screen and (min-width: 768px) {
  .nav.navbar-center {
    position: relative;
    display: table;
    float: none;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 1; } }
.nav.navbar-right {
  margin-right: auto; }
  .nav.navbar-right li a {
    text-align: right; }
.nav.nav-tabs > li > a {
  -webkit-border-radius: 0;
  border-radius: 0; }
.nav.text-base > li a {
  font-size: 14px; }
.nav.text-md > li a {
  font-size: 16px; }
.nav.text-lg > li a {
  font-size: 21px; }

.nav-pills > li > a {
  color: #26282b;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .nav-pills > li > a:hover, .nav-pills > li > a:focus {
    color: #ffd460;
    background-color: white; }
.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color: inherit;
  background-color: #f4f4f4; }
  .nav-pills > li.active > a > .badge, .nav-pills > li.active > a:hover > .badge, .nav-pills > li.active > a:focus > .badge {
    color: #ffd460; }

.nav-tabs.tabs-left {
  float: left;
  width: 200px;
  border-right: none;
  padding-top: 0; }
  @media (max-width: 640px) {
    .nav-tabs.tabs-left {
      width: 100%; } }
.nav-tabs.tabs-right {
  float: right;
  width: 200px;
  border-left: none;
  padding-top: 0; }
  @media (max-width: 640px) {
    .nav-tabs.tabs-right {
      width: 100%; } }

.tab-content.tab-content-left {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd; }
.tab-content.tab-content-right {
  display: block;
  overflow: hidden;
  border: 1px solid #ddd; }

@media (max-width: 992px) {
  .navbar-header {
    float: none; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-collapse.collapse.in {
    display: block !important; }

  .navbar-nav {
    float: none !important;
    margin: 7.5px -15px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .navbar-nav li.open .dropdown-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    text-align: center;
    background-color: #f9f9f9; }
    .navbar-nav li.open .dropdown-menu .dropdown-submenu.open .dropdown-menu {
      text-align: center;
      background-color: #f7f7f7;
      -webkit-border-radius: 0;
      border-radius: 0; }
      .navbar-nav li.open .dropdown-menu .dropdown-submenu.open .dropdown-menu .dropdown-submenu.open .dropdown-menu {
        background-color: #f4f4f4; } }

  .current-menu-parent > a {
    color: red; }
/*-------------------------------------------------------------------
    Breadcrumb
-------------------------------------------------------------------*/
.breadcrumb {
  padding: 0;
  margin-bottom: 0;
  list-style: none;
  background-color: transparent;
  -webkit-border-radius: 0;
  border-radius: 0; }
  .breadcrumb > .active {
    color: #ffd460; }

/*-------------------------------------------------------------------
    Alert
-------------------------------------------------------------------*/
.alert-just-border {
  background-color: transparent; }

/*-------------------------------------------------------------------
    Utilities
-------------------------------------------------------------------*/
.wrapper-none {
  padding: 0 !important; }

.wrapper-1x {
  padding: 1px; }

.wrapper-2x {
  padding: 2px; }

.wrapper-xxs {
  padding: 3px; }

.wrapper-xs {
  padding: 5px; }

.wrapper-sm {
  padding: 10px; }

.wrapper {
  padding: 15px; }

.wrapper-md {
  padding: 20px; }

.wrapper-lg {
  padding: 25px; }

.wrapper-xl {
  padding: 30px; }

.wrapper-xxl {
  padding: 50px; }

.p-l-none {
  padding-left: 0 !important; }

.p-l-1x {
  padding-left: 1px; }

.p-l-2x {
  padding-left: 2px; }

.p-l-xxs {
  padding-left: 3px; }

.p-l-xs {
  padding-left: 5px; }

.p-l-sm {
  padding-left: 10px; }

.p-l {
  padding-left: 15px; }

.p-l-md {
  padding-left: 20px; }

.p-l-lg {
  padding-left: 25px; }

.p-l-xl {
  padding-left: 30px; }

.p-l-xxl {
  padding-left: 50px; }

.p-t-none {
  padding-top: 0 !important; }

.p-t-1x {
  padding-top: 1px; }

.p-t-2x {
  padding-top: 2px; }

.p-t-xxs {
  padding-top: 3px; }

.p-t-xs {
  padding-top: 5px; }

.p-t-sm {
  padding-top: 10px; }

.p-t {
  padding-top: 15px; }

.p-t-md {
  padding-top: 20px; }

.p-t-lg {
  padding-top: 25px; }

.p-t-xl {
  padding-top: 30px; }

.p-t-xxl {
  padding-top: 50px; }

.p-r-none {
  padding-right: 0 !important; }

.p-r-1x {
  padding-right: 1px; }

.p-r-2x {
  padding-right: 2px; }

.p-r-xxs {
  padding-right: 3px; }

.p-r-xs {
  padding-right: 5px; }

.p-r-sm {
  padding-right: 10px; }

.p-r {
  padding-right: 15px; }

.p-r-md {
  padding-right: 20px; }

.p-r-lg {
  padding-right: 25px; }

.p-r-xl {
  padding-right: 30px; }

.p-r-xxl {
  padding-right: 50px; }

.p-b-none {
  padding-bottom: 0 !important; }

.p-b-1x {
  padding-bottom: 1px; }

.p-b-2x {
  padding-bottom: 2px; }

.p-b-xxs {
  padding-bottom: 3px; }

.p-b-xs {
  padding-bottom: 5px; }

.p-b-sm {
  padding-bottom: 10px; }

.p-b {
  padding-bottom: 15px; }

.p-b-md {
  padding-bottom: 20px; }

.p-b-lg {
  padding-bottom: 25px; }

.p-b-xl {
  padding-bottom: 30px; }

.p-b-xxl {
  padding-bottom: 50px; }

.p-v-none {
  padding-top: 0 !important;
  padding-bottom: 0 !important; }

.p-v-1x {
  padding-top: 1px;
  padding-bottom: 1px; }

.p-v-2x {
  padding-top: 2px;
  padding-bottom: 2px; }

.p-v-xxs {
  padding-top: 3px;
  padding-bottom: 3px; }

.p-v-xs {
  padding-top: 5px;
  padding-bottom: 5px; }

.p-v-sm {
  padding-top: 10px;
  padding-bottom: 10px; }

.p-v {
  padding-top: 15px;
  padding-bottom: 15px; }

.p-v-md {
  padding-top: 20px;
  padding-bottom: 20px; }

.p-v-lg {
  padding-top: 25px;
  padding-bottom: 25px; }

.p-v-xl {
  padding-top: 30px;
  padding-bottom: 30px; }

.p-v-xxl {
  padding-top: 50px;
  padding-bottom: 50px; }

.p-h-none {
  padding-left: 0 !important;
  padding-right: 0 !important; }

.p-h-1x {
  padding-left: 1px;
  padding-right: 1px; }

.p-h-2x {
  padding-left: 2px;
  padding-right: 2px; }

.p-h-xxs {
  padding-left: 3px;
  padding-right: 3px; }

.p-h-xs {
  padding-left: 5px;
  padding-right: 5px; }

.p-h-sm {
  padding-left: 10px;
  padding-right: 10px; }

.p-h {
  padding-left: 15px;
  padding-right: 15px; }

.p-h-md {
  padding-left: 20px;
  padding-right: 20px; }

.p-h-lg {
  padding-left: 25px;
  padding-right: 25px; }

.p-h-xl {
  padding-left: 30px;
  padding-right: 30px; }

.p-h-xxl {
  padding-left: 50px;
  padding-right: 50px; }

.m-none {
  margin: 0 !important; }

.m-l-none {
  margin-left: 0 !important; }

.m-l-1x {
  margin-left: 1px; }

.m-l-n-1x {
  margin-left: -1px; }

.m-l-2x {
  margin-left: 2px; }

.m-l-n-2x {
  margin-left: -2px; }

.m-l-xxs {
  margin-left: 3px; }

.m-l-n-xxs {
  margin-left: -3px; }

.m-l-xs {
  margin-left: 5px; }

.m-l-n-xs {
  margin-left: -5px; }

.m-l-sm {
  margin-left: 10px; }

.m-l-n-sm {
  margin-left: -10px; }

.m-l {
  margin-left: 15px; }

.m-l-n {
  margin-left: -15px; }

.m-l-md {
  margin-left: 20px; }

.m-l-n-md {
  margin-left: -20px; }

.m-l-lg {
  margin-left: 25px; }

.m-l-n-lg {
  margin-left: -25px; }

.m-l-xl {
  margin-left: 30px; }

.m-l-n-xl {
  margin-left: -30px; }

.m-l-xxl {
  margin-left: 50px; }

.m-l-n-xxl {
  margin-left: -50px; }

.m-t-none {
  margin-top: 0 !important; }

.m-t-1x {
  margin-top: 1px; }

.m-t-n-1x {
  margin-top: -1px; }

.m-t-2x {
  margin-top: 2px; }

.m-t-n-2x {
  margin-top: -2px; }

.m-t-xxs {
  margin-top: 3px; }

.m-t-n-xxs {
  margin-top: -3px; }

.m-t-xs {
  margin-top: 5px; }

.m-t-n-xs {
  margin-top: -5px; }

.m-t-sm {
  margin-top: 10px; }

.m-t-n-sm {
  margin-top: -10px; }

.m-t {
  margin-top: 15px; }

.m-t-n {
  margin-top: -15px; }

.m-t-md {
  margin-top: 20px; }

.m-t-n-md {
  margin-top: -20px; }

.m-t-lg {
  margin-top: 25px; }

.m-t-n-lg {
  margin-top: -25px; }

.m-t-xl {
  margin-top: 30px; }

.m-t-n-xl {
  margin-top: -30px; }

.m-t-xxl {
  margin-top: 50px; }

.m-t-n-xxl {
  margin-top: -50px; }

.m-r-none {
  margin-right: 0 !important; }

.m-r-1x {
  margin-right: 1px; }

.m-r-n-1x {
  margin-right: -1px; }

.m-r-2x {
  margin-right: 2px; }

.m-r-n-2x {
  margin-right: -2px; }

.m-r-xxs {
  margin-right: 3px; }

.m-r-n-xxs {
  margin-right: -3px; }

.m-r-xs {
  margin-right: 5px; }

.m-r-n-xs {
  margin-right: -5px; }

.m-r-sm {
  margin-right: 10px; }

.m-r-n-sm {
  margin-right: -10px; }

.m-r {
  margin-right: 15px; }

.m-r-n {
  margin-right: -15px; }

.m-r-md {
  margin-right: 20px; }

.m-r-n-md {
  margin-right: -20px; }

.m-r-lg {
  margin-right: 25px; }

.m-r-n-lg {
  margin-right: -25px; }

.m-r-xl {
  margin-right: 30px; }

.m-r-n-xl {
  margin-right: -30px; }

.m-r-xxl {
  margin-right: 50px; }

.m-r-n-xxl {
  margin-right: -50px; }

.m-b-none {
  margin-bottom: 0 !important; }

.m-b-1x {
  margin-bottom: 1px; }

.m-b-n-1x {
  margin-bottom: -1px; }

.m-b-2x {
  margin-bottom: 2px; }

.m-b-n-2x {
  margin-bottom: -2px; }

.m-b-xxs {
  margin-bottom: 3px; }

.m-b-n-xxs {
  margin-bottom: -3px; }

.m-b-xs {
  margin-bottom: 5px; }

.m-b-n-xs {
  margin-bottom: -5px; }

.m-b-sm {
  margin-bottom: 10px; }

.m-b-n-sm {
  margin-bottom: -10px; }

.m-b {
  margin-bottom: 15px; }

.m-b-n {
  margin-bottom: -15px; }

.m-b-md {
  margin-bottom: 20px; }

.m-b-n-md {
  margin-bottom: -20px; }

.m-b-lg {
  margin-bottom: 25px; }

.m-b-n-lg {
  margin-bottom: -25px; }

.m-b-xl {
  margin-bottom: 30px; }

.m-b-n-xl {
  margin-bottom: -30px; }

.m-b-xxl {
  margin-bottom: 50px; }

.m-b-n-xxl {
  margin-bottom: -50px; }

.m-v-none {
  margin-top: 0 !important;
  margin-bottom: 0 !important; }

.m-v-1x {
  margin-top: 1px;
  margin-bottom: 1px; }

.m-v-n-1x {
  margin-top: -1px;
  margin-bottom: -1px; }

.m-v-2x {
  margin-top: 2px;
  margin-bottom: 2px; }

.m-v-n-2x {
  margin-top: -2px;
  margin-bottom: -2px; }

.m-v-xxs {
  margin-top: 3px;
  margin-bottom: 3px; }

.m-v-n-xxs {
  margin-top: -3px;
  margin-bottom: -3px; }

.m-v-xs {
  margin-top: 5px;
  margin-bottom: 5px; }

.m-v-n-xs {
  margin-top: -5px;
  margin-bottom: -5px; }

.m-v-sm {
  margin-top: 10px;
  margin-bottom: 10px; }

.m-v-n-sm {
  margin-top: -10px;
  margin-bottom: -10px; }

.m-v {
  margin-top: 15px;
  margin-bottom: 15px; }

.m-v-n {
  margin-top: -15px;
  margin-bottom: -15px; }

.m-v-md {
  margin-top: 20px;
  margin-bottom: 20px; }

.m-v-n-md {
  margin-top: -20px;
  margin-bottom: -20px; }

.m-v-lg {
  margin-top: 25px;
  margin-bottom: 25px; }

.m-v-n-lg {
  margin-top: -25px;
  margin-bottom: -25px; }

.m-v-xl {
  margin-top: 30px;
  margin-bottom: 30px; }

.m-v-n-xl {
  margin-top: -30px;
  margin-bottom: -30px; }

.m-v-xxl {
  margin-top: 50px;
  margin-bottom: 50px; }

.m-v-n-xxl {
  margin-top: -50px;
  margin-bottom: -50px; }

.m-h-none {
  margin-left: 0 !important;
  margin-right: 0 !important; }

.m-h-1x {
  margin-left: 1px;
  margin-right: 1px; }

.m-h-n-1x {
  margin-left: -1px;
  margin-right: -1px; }

.m-h-2x {
  margin-left: 2px;
  margin-right: 2px; }

.m-h-n-2x {
  margin-left: -2px;
  margin-right: -2px; }

.m-h-xxs {
  margin-left: 3px;
  margin-right: 3px; }

.m-h-n-xxs {
  margin-left: -3px;
  margin-right: -3px; }

.m-h-xs {
  margin-left: 5px;
  margin-right: 5px; }

.m-h-n-xs {
  margin-left: -5px;
  margin-right: -5px; }

.m-h-sm {
  margin-left: 10px;
  margin-right: 10px; }

.m-h-n-sm {
  margin-left: -10px;
  margin-right: -10px; }

.m-h {
  margin-left: 15px;
  margin-right: 15px; }

.m-h-n {
  margin-left: -15px;
  margin-right: -15px; }

.m-h-md {
  margin-left: 20px;
  margin-right: 20px; }

.m-h-n-md {
  margin-left: -20px;
  margin-right: -20px; }

.m-h-lg {
  margin-left: 25px;
  margin-right: 25px; }

.m-h-n-lg {
  margin-left: -25px;
  margin-right: -25px; }

.m-h-xl {
  margin-left: 30px;
  margin-right: 30px; }

.m-h-n-xl {
  margin-left: -30px;
  margin-right: -30px; }

.m-h-xxl {
  margin-left: 50px;
  margin-right: 50px; }

.m-h-n-xxl {
  margin-left: -50px;
  margin-right: -50px; }

.w-1x {
  width: 1px; }

.w-2x {
  width: 2px; }

.w-3x {
  width: 3px; }

.w-sm {
  width: 34px; }

.w {
  width: 64px; }

.w-md {
  width: 80px; }

.w-lg {
  width: 128px; }

.w-xl {
  width: 175px; }

.w-full {
  width: 100%; }

.w-auto {
  width: auto; }

.h-xxs {
  height: 3px; }

.h-xs {
  height: 5px; }

.h-1x {
  height: 10px; }

.h-2x {
  height: 20px; }

.h-3x {
  height: 30px; }

.h-4x {
  height: 40px; }

.h-full {
  height: 100%; }

.h-auto {
  height: auto; }

.r-1x {
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.r-2x {
  -webkit-border-radius: 6px;
  border-radius: 6px; }

.r {
  -webkit-border-radius: 500px;
  border-radius: 500px;
  overflow: hidden; }

.line {
  margin: 15px 0;
  font-size: 0; }
  .line-lg {
    margin: 30px 0; }

.avatar {
  position: relative;
  display: block;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  white-space: nowrap; }
  .avatar img {
    -webkit-border-radius: 500px;
    border-radius: 500px;
    width: 100%; }

.icon {
  width: 50px;
  height: 50px;
  line-height: 50px;
  display: block;
  text-align: center;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  font-size: 21px;
  color: #727272;
  background-color: #f4f4f4;
  border: 1px solid #f4f4f4; }
  .icon.icon-sm {
    width: 40px;
    height: 40px;
    line-height: 38px;
    font-size: 16px; }
  .icon.icon-lg {
    width: 64px;
    height: 64px;
    line-height: 60px;
    font-size: 24px; }

.thumb-1x {
  width: 10px;
  height: 10px; }

.thumb-sm {
  width: 34px;
  height: 34px; }

.thumb {
  width: 64px;
  height: 64px; }

.thumb-md {
  width: 80px;
  height: 80px; }

.thumb-lg {
  width: 128px;
  height: 128px; }

.thumb,
.thumb-sm,
.thumb-md,
.thumb-lg {
  display: inline-block; }
  .thumb img,
  .thumb-sm img,
  .thumb-md img,
  .thumb-lg img {
    position: relative;
    height: auto;
    width: 100%;
    max-width: 100%;
    vertical-align: middle; }

.pos-rlt {
  position: relative; }

.pos-abt {
  position: absolute; }

.pos-fix {
  position: fixed; }

.pos-stc {
  position: static; }

.show {
  visibility: visible; }

.block {
  display: block; }

.block.hide {
  display: none; }

.inline {
  display: inline-block !important; }

.hide {
  display: none; }

.clear {
  display: block;
  overflow: hidden; }

.m-auto {
  margin-left: auto;
  margin-right: auto; }

.b-none {
  border: none !important; }

.b {
  border: 1px solid rgba(0, 0, 0, 0.05); }

.b-t {
  border-top: 1px solid rgba(0, 0, 0, 0.05); }

.b-r {
  border-right: 1px solid rgba(0, 0, 0, 0.05); }

.b-b {
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.b-l {
  border-left: 1px solid rgba(0, 0, 0, 0.05); }

.b-v {
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); }

.b-h {
  border-left: 1px solid rgba(0, 0, 0, 0.05);
  border-right: 1px solid rgba(0, 0, 0, 0.05); }

.b-a {
  border-color: rgba(255, 255, 255, 0.1); }

.b-dashed {
  border-style: dashed !important; }

.b-2x {
  border-width: 2px; }

.b-3x {
  border-width: 3px; }

.b-4x {
  border-width: 4px; }

.b-5x {
  border-width: 5px; }

.b-sm {
  border-width: 10px; }

.item {
  position: relative;
  height: 100%; }
  .item .top {
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .item .bottom {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0; }
  .item .center {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .item .center.screen {
      top: 0;
      bottom: 0;
      width: 100%;
      overflow: auto;
      -webkit-overflow-scrolling: touch; }
  .item-overlay {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0; }
    .item-overlay.active, .item:hover .item-overlay {
      display: block; }
  .item.item-layer::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(244, 244, 244, 0.85); }

.box {
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-spacing: 0; }
  .box .col {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top; }
    .box .col.v-middle {
      vertical-align: middle !important; }
    .box .col.v-top {
      vertical-align: top !important; }
    .box .col.v-bottom {
      vertical-align: bottom !important; }

.vbox {
  display: block;
  table-layout: fixed;
  height: 100%;
  width: 100%;
  border-spacing: 0; }
  .vbox .col {
    float: none;
    height: 100%;
    vertical-align: top;
    overflow: auto;
    -webkit-overflow-scrolling: touch; }

.scrollable {
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch; }

.progress {
  position: relative;
  display: inline-block;
  width: 100%;
  background-color: #efefef;
  -webkit-border-radius: 0;
  border-radius: 0;
  overflow: visible;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .progress .title {
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    color: #ffffff;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    font-weight: 400; }

.progress-bar {
  height: 100%;
  width: 0px;
  -webkit-border-radius: 0;
  border-radius: 0;
  background-color: #26282b;
  -webkit-box-shadow: none;
  box-shadow: none; }

img {
  max-width: 100%;
  height: auto; }

.img-full {
  width: 100%; }
  .img-full img {
    max-width: 100%; }

.img-bg {
  position: relative;
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  overflow: hidden;
  z-index: 0; }
  .img-bg.att-fixed {
    background-attachment: fixed; }

.img-bg:after {
  content: "";
  position: absolute;
  display: inherit !important;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.8;
  z-index: 0; }

.img-bg > * {
  position: relative;
  z-index: 1; }

.img-bg img {
  z-index: 0; }

.cover {
  height: 820px; }

/*-------------------------------------------------------------------
    WP-utilities
-------------------------------------------------------------------*/
.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden; }

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-size: 0.875rem;
  font-weight: bold;
  height: auto;
  left: 5px;
  line-height: normal;
  padding: 15px 23px 14px;
  text-decoration: none;
  top: 5px;
  width: auto;
  z-index: 100000;
  /* Above WP toolbar. */ }

.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*-------------------------------------------------------------------
    Arrow
-------------------------------------------------------------------*/
.arrow,
.arrow:after {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 8px;
  content: ""; }

.top.arrow {
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  border-top-width: 0;
  border-bottom-color: #cacaca;
  top: -8px; }

.top.arrow:after {
  content: "";
  margin-left: -8px;
  border-top-width: 1px;
  border-bottom-color: #f4f4f4; }

.bottom.arrow {
  left: 50%;
  -webkit-transform: translate(-50%, 0) rotate(180deg);
  -ms-transform: translate(-50%, 0) rotate(180deg);
  transform: translate(-50%, 0) rotate(180deg);
  border-top-width: 0;
  border-bottom-color: #cacaca;
  bottom: -8px; }
  .bottom.arrow.left {
    left: 0;
    margin-left: 32px; }

.bottom.arrow:after {
  content: "";
  margin-left: -8px;
  margin-top: -1px;
  border-top-width: 1px;
  border-bottom-color: #f4f4f4; }

.arrow-dark.arrow:after {
  border-bottom-color: #26282b; }

.arrow-primary.arrow:after {
  border-bottom-color: #ffd460; }

/*-------------------------------------------------------------------
    Colors
-------------------------------------------------------------------*/
.bg-white {
  color: #26282b;
  background-color: #ffffff; }

.bg-black {
  color: #ffffff;
  background-color: #1b1c1e; }

.bg-light {
  color: #26282b;
  background-color: #f4f4f4; }

.bg-dark {
  color: #ffffff;
  background-color: #26282b; }
  .bg-dark .btn-dark {
    color: #ffffff;
    background-color: #3e4146;
    border-color: #3e4146; }
    .bg-dark .btn-dark:focus, .bg-dark .btn-dark.focus {
      color: #ffffff !important;
      background-color: #26282b !important;
      border-color: #212326 !important; }
    .bg-dark .btn-dark:hover {
      color: #ffffff;
      background-color: #323539;
      border-color: #303236; }

.bg-primary {
  color: #ffffff;
  background-color: #ffd460; }
  .bg-primary a:hover {
    color: #ffffff; }

.bg-info {
  color: #ffffff;
  background-color: #337Ab7; }

.bg-transparent {
  background-color: transparent; }

.text-white {
  color: #ffffff; }

.text-light {
  color: #f4f4f4; }

.text-black {
  color: #1b1c1e; }

.text-dark {
  color: #26282b; }

.text-dark.lt {
  color: #7e7e7e; }

.text-primary {
  color: #ffd460; }

.b-white {
  border-color: #ffffff; }

.b-light {
  border-color: #f4f4f4; }

.b-dark {
  border-color: #26282b; }

.b-primary {
  border-color: #ffd460; }

.b-info {
  border-color: #337Ab7; }

.b-success {
  border-color: #60bf53; }

.b-warning {
  border-color: #dd6c5f; }

.b-danger {
  border-color: #ff3040; }

.img-dark {
  color: #ffffff; }
  .img-dark::after {
    background-color: #26282b; }

.img-primary {
  color: #ffffff; }
  .img-primary::after {
    background-color: #ffd460; }

/*-------------------------------------------------------------------
    Photo-grid
-------------------------------------------------------------------*/
.photo_grid {
  clear: both; }
  .photo_grid img {
    width: 100%; }
  .photo_grid .photo_container {
    position: relative;
    float: left;
    width: 25%;
    padding: 15px; }
  .photo_grid.no_gutter .photo_container {
    padding: 0; }
  .photo_grid .photo_wrapper {
    overflow: hidden; }
  .photo_grid .photo_details {
    margin: 0 15px 15px; }

.grid_col_3 .photo_container {
  width: 33.33%; }

.grid_col_2 .photo_container {
  width: 50%; }

@media screen and (max-width: 1199px) {
  .photo_grid .photo_container {
    width: 33.33%; }

  .grid_col_2 .photo_container {
    width: 50%; } }
@media screen and (max-width: 778px) {
  .photo_grid {
    margin-left: 0;
    margin-right: 0; }
    .photo_grid .photo_container {
      width: 50%; } }
@media screen and (max-width: 480px) {
  .photo_grid .photo_container {
    width: 100%; } }
.filter.nav-pills {
  margin-bottom: 30px; }
  .filter.nav-pills li a {
    -webkit-border-radius: 3px;
    border-radius: 3px; }

.filter.nav-pills > li.active > a,
.filter.nav-pills > li.active > a:focus,
.filter.nav-pills > li.active > a:hover,
.filter.nav-pills > li > a:focus,
.filter.nav-pills > li > a:hover {
  background: #ffd460;
  color: #26282b; }

/*-------------------------------------------------------------------
    Photo-hover
-------------------------------------------------------------------*/
.photo_details {
  color: #ffffff;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 30px 30px 30px; }
  .photo_details .photo_title {
    position: relative;
    top: 20px;
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }
  .photo_details .photo_description {
    position: relative;
    top: 40px;
    opacity: 0;
    -webkit-transition: top 0.5s, opacity 0.3s;
    transition: top 0.5s, opacity 0.3s; }

.photo_thumbnail {
  position: relative;
  display: inherit;
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in; }
  .photo_thumbnail::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left bottom, left top, color-stop(-10%, #1b1c1e), color-stop(70%, transparent));
    background-image: -webkit-linear-gradient(bottom, #1b1c1e -10%, transparent 70%);
    background-image: linear-gradient(to top, #1b1c1e -10%, transparent 70%);
    -webkit-transform: translate(0, 50%);
    -ms-transform: translate(0, 50%);
    transform: translate(0, 50%);
    opacity: 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s; }

.photo_container:hover .photo_thumbnail::before {
  -webkit-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  transform: translate(0, 0);
  opacity: 1; }
.photo_container:hover .photo_details .photo_title,
.photo_container:hover .photo_details .photo_description {
  top: 0;
  opacity: 1; }

/*-------------------------------------------------------------------
    Headroom
-------------------------------------------------------------------*/
.headroom {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1000;
  top: 0;
  -webkit-transition: padding-top 0.3s ease, padding-bottom 0.3s ease;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease; }
  .headroom::before, .headroom::after {
    display: table;
    content: ''; }
  .headroom.headroom--not-top {
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
    .headroom.headroom--not-top .navbar-nav > li > .dropdown-menu {
      margin-top: 9px; }

.headroomTransparent.bg-transparent {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  padding-top: 40px;
  z-index: 1000;
  -webkit-transition: padding-top 0.3s ease, padding-bottom 0.3s ease;
  transition: padding-top 0.3s ease, padding-bottom 0.3s ease; }
  .headroomTransparent.bg-transparent.headroom--not-top {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: rgba(0, 0, 0, 0.7);
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1); }
    .headroomTransparent.bg-transparent.headroom--not-top .navbar-nav > li > .dropdown-menu {
      margin-top: 9px; }
  .headroomTransparent.bg-transparent.text-white .navbar-header .btn_menu {
    color: #ffffff; }
  .headroomTransparent.bg-transparent.text-white .navbar-nav > li > a {
    color: #ffffff; }
  .headroomTransparent.bg-transparent.text-white.headroom--not-top .navbar-header .btn_menu {
    color: #b5b9c0; }
.headroomTransparent + section.img-bg {
  padding-top: 50px; }

@media (max-width: 992px) {
  .headroom {
    padding-top: 5px;
    padding-bottom: 5px; }
    .headroom.headroom--not-top {
      padding-top: 5px;
      padding-bottom: 5px; }

  .headroomTransparent.bg-transparent {
    position: -webkit-sticky;
    position: sticky;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: #ffffff; }
    .headroomTransparent.bg-transparent.text-white .navbar-header .btn_menu {
      color: #b5b9c0; }
    .headroomTransparent.bg-transparent.text-white .navbar-brand {
      color: #26282b; }
    .headroomTransparent.bg-transparent.text-white .navbar-nav > li > a {
      color: #26282b; }
    .headroomTransparent.bg-transparent.headroom--not-top {
      padding-top: 5px;
      padding-bottom: 5px; } }
.header_top {
  position: relative;
  padding-top: 20px;
  padding-bottom: 50px; }

.header_container {
  background-color: transparent;
  margin-top: -45px; }
  .header_container > .container {
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  .header_container.headroom--not-top {
    padding-top: 0;
    padding-bottom: 0;
    background-color: #ffffff; }
    .header_container.headroom--not-top > .container {
      padding-top: 10px;
      padding-bottom: 10px; }

.header_container_next {
  position: relative;
  top: -45px; }
  .header_container_next + section,
  .header_container_next + footer {
    margin-top: -45px; }

@media (max-width: 992px) {
  .header_container {
    background-color: #ffffff;
    margin-top: 0; }
    .header_container > .container {
      padding-top: 0;
      padding-bottom: 0; }

  .header_container_next {
    top: 0; } }
/*-------------------------------------------------------------------
    Twentytwenty
-------------------------------------------------------------------*/
.twentytwenty-container img {
  height: auto; }

.twentytwenty-handle {
  height: 54px;
  width: 54px;
  margin-left: -27px;
  margin-top: -27px;
  border: none;
  background-color: rgba(255, 212, 96, 0.8); }

.twentytwenty-horizontal .twentytwenty-handle::before,
.twentytwenty-horizontal .twentytwenty-handle::after {
  width: 1px;
  margin-left: -0.5px;
  -webkit-box-shadow: none;
  box-shadow: none; }

.twentytwenty-horizontal .twentytwenty-handle::before {
  margin-bottom: 27px; }

.twentytwenty-horizontal .twentytwenty-handle::after {
  margin-top: 27px; }

.twentytwenty-left-arrow {
  margin-left: -20px; }

.twentytwenty-right-arrow {
  margin-right: -20px; }

/*-------------------------------------------------------------------
    Owl Carousel
-------------------------------------------------------------------*/
.owl-controls {
  margin-top: 10px;
  text-align: center;
  -webkit-tap-highlight-color: transparent; }

.owl-nav [class*='owl-'] {
  color: white;
  font-size: 14px;
  margin: 5px;
  padding: 4px 7px;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 3px;
  border-radius: 3px; }

.owl-nav [class*='owl-']:hover {
  background: #869791;
  color: white;
  text-decoration: none; }

.owl-nav .disabled {
  opacity: 0.5;
  cursor: default; }

.owl-dots {
  text-align: center;
  margin: 60px 0; }
  .owl-dots .owl-dot {
    display: inline-block;
    zoom: 1;
    *display: inline; }

.owl-dots .owl-dot span {
  margin: 5px 7px;
  display: block;
  -webkit-backface-visibility: visible;
  -webkit-transition: opacity 200ms ease;
  transition: opacity 200ms ease; }

.owl-dots .owl-dot span {
  position: relative;
  -webkit-border-radius: 0;
  border-radius: 0;
  width: 7px;
  height: 7px;
  background-color: #e7e7e7; }
.owl-dots .owl-dot.active span {
  background-color: #ffd460; }
  .owl-dots .owl-dot.active span::before {
    content: '';
    position: absolute;
    border: 1px solid #ffd460;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px; }

.owl-dots-left .owl-dots {
  text-align: left; }

.owlSingleImage .item,
.owlGallery img {
  height: auto; }

#owlNews .news_item .news_details {
  color: #ffffff;
  background-color: #26282b;
  -webkit-transition: color .2s, background-color .2s;
  transition: color .2s, background-color .2s; }
  #owlNews .news_item .news_details .arrow::after {
    border-bottom-color: #26282b;
    -webkit-transition: border-bottom-color .2s;
    transition: border-bottom-color .2s; }
  #owlNews .news_item .news_details a {
    color: #ffffff; }
    #owlNews .news_item .news_details a:hover {
      color: #ffffff; }
#owlNews .news_item:hover .news_details {
  background-color: #ffd460; }
  #owlNews .news_item:hover .news_details .arrow::after {
    border-bottom-color: #ffd460; }

#owlClients {
  position: relative; }
  #owlClients .owl-nav {
    opacity: 0;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s; }
    #owlClients .owl-nav .owl-prev,
    #owlClients .owl-nav .owl-next {
      position: absolute;
      top: 50%;
      -webkit-transform: translate(0, -50%);
      -ms-transform: translate(0, -50%);
      transform: translate(0, -50%);
      background-color: #26282b; }
      #owlClients .owl-nav .owl-prev:hover,
      #owlClients .owl-nav .owl-next:hover {
        background-color: #ffd460; }
    #owlClients .owl-nav .owl-prev {
      left: 0;
      margin-left: -15px; }
    #owlClients .owl-nav .owl-next {
      right: 0;
      margin-right: -15px; }
  #owlClients:hover .owl-nav {
    opacity: 1; }

@media (max-width: 768px) {
  #owlClients .owl-nav {
    opacity: 1; } }
.owl-carousel.dots-inner .owl-dots {
  display: -webkit-inline-box;
  display: -webkit-inline-flex;
  display: -moz-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  position: absolute;
  bottom: 0;
  right: 0;
  margin: 0;
  padding: 10px;
  background-color: #ffd460; }
  .owl-carousel.dots-inner .owl-dots .owl-dot span {
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.2); }
  .owl-carousel.dots-inner .owl-dots .owl-dot.active span {
    background-color: #ffffff; }
    .owl-carousel.dots-inner .owl-dots .owl-dot.active span::before {
      content: '';
      position: absolute;
      border: 1px solid #ffffff;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px; }
.owl-carousel.dots-center .owl-nav .owl-prev,
.owl-carousel.dots-center .owl-nav .owl-next {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  top: 25%;
  -webkit-transform: translate(0, -25%);
  -ms-transform: translate(0, -25%);
  transform: translate(0, -25%);
  color: rgba(0, 0, 0, 0.4);
  background-color: #ffd460; }
.owl-carousel.dots-center .owl-nav .owl-prev {
  left: 0;
  margin-left: -60px; }
.owl-carousel.dots-center .owl-nav .owl-next {
  right: 0;
  margin-right: -60px; }
.owl-carousel.owlGallery .owl-nav .owl-prev,
.owl-carousel.owlGallery .owl-nav .owl-next {
  position: absolute;
  height: 32px;
  width: 32px;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  font-size: 18px;
  line-height: 30px;
  text-align: center;
  padding: 0;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: rgba(0, 0, 0, 0.4);
  background-color: #ffd460; }
.owl-carousel.owlGallery .owl-nav .owl-prev {
  left: 0;
  margin-left: -60px; }
.owl-carousel.owlGallery .owl-nav .owl-next {
  right: 0;
  margin-right: -60px; }

.owlCoverSlider .owl-item .title,
.owlCoverSlider .owl-item .sub_title,
.owlCoverSlider .owl-item .btn {
  position: relative;
  top: 60px;
  opacity: 0; }
.owlCoverSlider .owl-item .title {
  -webkit-transition: opacity .8s ease 0.18s, top .8s ease 0.18s;
  transition: opacity .8s ease 0.18s, top .8s ease 0.18s; }
.owlCoverSlider .owl-item .sub_title {
  -webkit-transition: opacity 1s ease 0.2s, top 1s ease 0.2s;
  transition: opacity 1s ease 0.2s, top 1s ease 0.2s; }
.owlCoverSlider .owl-item .btn {
  -webkit-transition: opacity 1.2s ease 0.22s, top 1s ease 0.22s;
  transition: opacity 1.2s ease 0.22s, top 1s ease 0.22s; }
.owlCoverSlider .owl-item.active .title,
.owlCoverSlider .owl-item.active .sub_title,
.owlCoverSlider .owl-item.active .btn {
  opacity: 1;
  top: 0; }
.owlCoverSlider .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  margin: 0 0 30px; }
  .owlCoverSlider .owl-dots .owl-dot span {
    position: relative;
    -webkit-border-radius: 0;
    border-radius: 0;
    width: 7px;
    height: 7px;
    background-color: rgba(0, 0, 0, 0.2); }
  .owlCoverSlider .owl-dots .owl-dot.active span {
    background-color: #ffffff; }
    .owlCoverSlider .owl-dots .owl-dot.active span::before {
      content: '';
      position: absolute;
      border: 1px solid #ffffff;
      top: -3px;
      left: -3px;
      right: -3px;
      bottom: -3px; }
.owlCoverSlider .owl-nav {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s; }
  .owlCoverSlider .owl-nav .owl-prev,
  .owlCoverSlider .owl-nav .owl-next {
    font-size: 56px;
    position: absolute;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
    background-color: transparent;
    opacity: 0.5; }
    .owlCoverSlider .owl-nav .owl-prev:hover,
    .owlCoverSlider .owl-nav .owl-next:hover {
      opacity: 1; }
  .owlCoverSlider .owl-nav .owl-prev {
    left: 0;
    margin-left: 15px; }
  .owlCoverSlider .owl-nav .owl-next {
    right: 0;
    margin-right: 15px; }

.owlTestimonial .owl-dots {
  margin-top: 30px;
  margin-bottom: 0; }

.owlTeamMembers-circle a {
  margin-left: 5px;
  margin-right: 5px; }

/*-------------------------------------------------------------------
    Brand
-------------------------------------------------------------------*/
.navbar-brand.logo {
  padding: 0; }
  .navbar-brand.logo > img {
    height: 100%;
    width: auto; }

.logo_wild {
  width: 200px;
  height: auto; }

.toper_socials > a:hover {
  color: #ffffff; }

.btn_menu {
  padding: 10px 15px;
  color: #b5b9c0;
  -webkit-transition: color 0.2s;
  transition: color 0.2s; }

.go-top {
  position: fixed;
  width: 40px;
  height: 40px;
  line-height: 36px;
  font-size: 16px;
  right: 20px;
  bottom: -20px;
  cursor: pointer;
  text-align: center;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #ffffff;
  background-color: #26282b;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  z-index: 998; }
  .go-top.active {
    visibility: visible;
    opacity: .7;
    bottom: 20px; }
    .go-top.active:hover {
      opacity: 1;
      background-color: #ffd460; }

.cover_text .title {
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease; }
.cover_text .sub_title {
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif;
  -webkit-transition: font-size 0.3s ease;
  transition: font-size 0.3s ease; }

@media (max-width: 992px) {
  .cover_text .title {
    font-size: 46px; }
  .cover_text .sub_title {
    font-size: 26px; } }
@media (max-width: 768px) {
  .cover_text .title {
    font-size: 32px; }
  .cover_text .sub_title {
    font-size: 18px; } }
.page_heading {
  padding-top: 50px;
  padding-bottom: 50px; }

@media (max-width: 992px) {
  .page_heading {
    padding-top: 0;
    padding-bottom: 0; }
    .page_heading .title {
      font-size: 46px; }
    .page_heading .sub_title {
      font-size: 26px; } }
@media (max-width: 768px) {
  .page_heading .title {
    font-size: 32px; }
  .page_heading .sub_title {
    font-size: 18px; } }
.section_heading .title {
  position: relative;
  padding-left: 25px; }
  .section_heading .title::before {
    position: absolute;
    content: '';
    left: 0;
    top: 11px;
    bottom: 10px;
    width: 5px;
    background-color: #ffd460; }
.section_heading .title_sm {
  padding-left: 15px; }
  .section_heading .title_sm::before {
    top: 5px;
    bottom: 5px;
    width: 3px; }
.section_heading .sub_title {
  font-style: italic;
  font-family: "Playfair Display", Georgia, "Times New Roman", Times, serif; }

.title {
  font-weight: 300; }
  .title b {
    font-weight: 700; }

.working_process_left .media,
.working_process_right .media {
  position: relative;
  overflow: visible;
  margin-top: 0;
  margin-bottom: 40px; }
  .working_process_left .media::before,
  .working_process_right .media::before {
    content: '';
    position: absolute;
    width: 1px;
    border-left: 1px dashed #cecece;
    top: 50%;
    margin-top: 30px;
    bottom: 0;
    margin-bottom: -40px; }
  .working_process_left .media:last-child,
  .working_process_right .media:last-child {
    margin-bottom: 0; }
    .working_process_left .media:last-child::before,
    .working_process_right .media:last-child::before {
      display: none; }
  .working_process_left .media-left,
  .working_process_right .media-left {
    padding-right: 20px; }
  .working_process_left .media-right,
  .working_process_right .media-right {
    padding-left: 20px; }

.working_process_left .media::before {
  left: 25px; }
.working_process_right {
  text-align: right; }
  .working_process_right .media::before {
    right: 25px; }

.featured-box {
  display: table;
  overflow: visible; }
  .featured-box .featured-icon {
    display: table-cell;
    vertical-align: middle;
    padding-right: 20px; }
  .featured-box .icon {
    position: relative;
    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
    .featured-box .icon img {
      -webkit-border-radius: 50%;
      border-radius: 50%; }
    .featured-box .icon::before {
      content: '';
      position: absolute;
      left: -7px;
      top: -7px;
      bottom: -7px;
      right: -7px;
      -webkit-border-radius: 500px;
      border-radius: 500px;
      border-width: 2px;
      border-style: solid;
      border-color: transparent;
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transition: border-color 0.2s, -webkit-transform 0.2s;
      transition: border-color 0.2s, -webkit-transform 0.2s;
      transition: border-color 0.2s, transform 0.2s;
      transition: border-color 0.2s, transform 0.2s, -webkit-transform 0.2s; }
  .featured-box:hover .icon {
    color: #ffffff;
    background-color: #ffd460;
    border-color: #ffd460; }
    .featured-box:hover .icon::before {
      border-color: #ffd460;
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1); }
  .featured-box.featured-box-center {
    display: block;
    text-align: center; }
    .featured-box.featured-box-center .featured-icon {
      display: block;
      padding-right: 0;
      padding-bottom: 20px; }
    .featured-box.featured-box-center .icon {
      margin-left: auto;
      margin-right: auto; }
  .featured-box.featured-box-right {
    text-align: right; }
    .featured-box.featured-box-right .featured-icon {
      padding-left: 20px; }

.featured-box-pendulum {
  display: table;
  overflow: visible;
  margin-bottom: 40px; }
  .featured-box-pendulum .featured-icon {
    display: inline-block;
    vertical-align: middle;
    padding-bottom: 20px; }
  .featured-box-pendulum .icon {
    position: relative;
    height: 80px;
    width: 80px;
    font-size: 32px;
    line-height: 40px;
    padding: 18px;
    background-color: transparent;
    color: #ffd460;
    border-color: #ffd460;
    overflow: hidden;
    -webkit-transition: color 0.2s, background-color 0.2s, border-color 0.2s;
    transition: color 0.2s, background-color 0.2s, border-color 0.2s; }
    .featured-box-pendulum .icon-pendulum {
      width: 1px;
      height: 20px;
      margin-left: auto;
      margin-right: auto;
      background-color: #ffd460; }
      .featured-box-pendulum .icon-pendulum-circle {
        width: 10px;
        height: 10px;
        margin-left: auto;
        margin-right: auto;
        -webkit-border-radius: 500px;
        border-radius: 500px;
        border: 1px solid #ffd460; }
  .featured-box-pendulum.featured-box-pendulum-center {
    text-align: center; }
    .featured-box-pendulum.featured-box-pendulum-center .icon {
      margin-left: auto;
      margin-right: auto; }
  .featured-box-pendulum.featured-box-pendulum-right {
    text-align: right; }
    .featured-box-pendulum.featured-box-pendulum-right .icon {
      margin-left: auto; }

.media .icon {
  position: relative;
  -webkit-transition: color 0.2s, background-color 0.2s;
  transition: color 0.2s, background-color 0.2s; }
  .media .icon::before {
    content: '';
    position: absolute;
    left: -7px;
    top: -7px;
    bottom: -7px;
    right: -7px;
    -webkit-border-radius: 500px;
    border-radius: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: transparent;
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: border-color 0.2s, -webkit-transform 0.2s;
    transition: border-color 0.2s, -webkit-transform 0.2s;
    transition: border-color 0.2s, transform 0.2s;
    transition: border-color 0.2s, transform 0.2s, -webkit-transform 0.2s; }
.media:hover .icon {
  color: #ffffff;
  background-color: #ffd460; }
  .media:hover .icon::before {
    border-color: #ffd460;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1); }

.monitor {
  margin-top: 200px;
  margin-bottom: 200px; }
  .monitor .monitor_img {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-bottom: -185px; }

@media screen and (max-width: 1199px) {
  .monitor .monitor_img {
    margin-bottom: -161px; } }
@media screen and (max-width: 991px) {
  .monitor {
    margin-top: 40%;
    margin-bottom: 0; }
    .monitor .monitor_img {
      position: relative;
      top: 0;
      margin-bottom: 0;
      margin-top: -50%; } }
.recent_project {
  position: relative;
  margin-top: 100px;
  margin-bottom: 100px; }
  .recent_project a:hover {
    color: inherit; }
  .recent_project .recent_project_details {
    position: absolute;
    right: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%); }
    .recent_project .recent_project_details .details_wrapper {
      padding: 40px 20px;
      background-color: rgba(255, 212, 96, 0.8); }
  .recent_project.recent_project_right .recent_project_details {
    left: 0;
    right: auto; }

@media screen and (max-width: 991px) {
  .recent_project .recent_project_details {
    position: relative;
    top: 0;
    margin-top: -20px;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none; } }
.panel_accordion .panel-default {
  -webkit-border-radius: 0;
  border-radius: 0;
  border: none;
  margin-bottom: 10px;
  -webkit-box-shadow: none;
  box-shadow: none; }
  .panel_accordion .panel-default .panel-heading {
    background-color: transparent;
    padding: 0; }
    .panel_accordion .panel-default .panel-heading .panel-title {
      position: relative;
      font-size: 14px;
      font-weight: 600;
      line-height: 1.8; }
      .panel_accordion .panel-default .panel-heading .panel-title a {
        padding: 10px 15px;
        display: block;
        background-color: transparent;
        border: 1px solid #ddd; }
        .panel_accordion .panel-default .panel-heading .panel-title a::after {
          content: "\e648";
          font-family: 'icomoon';
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          position: absolute;
          height: 20px;
          width: 20px;
          right: 12px;
          top: 50%;
          margin-top: -10px;
          line-height: 1.1;
          font-size: 18px;
          color: #26282b;
          text-align: center; }
        .panel_accordion .panel-default .panel-heading .panel-title a:focus {
          color: inherit; }
        .panel_accordion .panel-default .panel-heading .panel-title a[aria-expanded="true"] {
          background-color: #ffd460;
          border: 1px solid #ffd460; }
          .panel_accordion .panel-default .panel-heading .panel-title a[aria-expanded="true"]::after {
            content: "\e641"; }
        .panel_accordion .panel-default .panel-heading .panel-title a:hover, .panel_accordion .panel-default .panel-heading .panel-title a:active {
          color: #26282b;
          background-color: #ffd460;
          border: 1px solid #ffd460; }
  .panel_accordion .panel-default .panel-body {
    border-top: none !important; }

.nav_services > li + li {
  margin-top: -1px; }
.nav_services > li > a {
  font-size: 14px;
  padding: 15px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-left: 1px solid #ddd; }
  .nav_services > li > a:hover, .nav_services > li > a:focus, .nav_services > li > a:active {
    background-color: transparent; }
.nav_services > li.active > a {
  color: #ffd460;
  background-color: transparent;
  border-left-color: transparent;
  border-bottom-color: #ffd460; }
  .nav_services > li.active > a:hover, .nav_services > li.active > a:focus, .nav_services > li.active > a:active {
    background-color: transparent; }
.nav_services > li.active::after {
  content: '';
  position: absolute;
  height: 3px;
  background-color: #ffd460;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1; }
.nav_services > li:first-child {
  border-right-width: 0;
  border-left-width: 1px;
  border-left-style: solid;
  -webkit-border-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(transparent)) 5 100%;
  -webkit-border-image: -webkit-linear-gradient(bottom, #ddd, transparent) 5 100%;
  -o-border-image: linear-gradient(to top, #ddd, transparent) 5 100%;
  border-image: -webkit-gradient(linear, left bottom, left top, from(#ddd), to(transparent)) 5 100%;
  border-image: linear-gradient(to top, #ddd, transparent) 5 100%; }
.nav_services > li:last-child {
  padding-bottom: 150px;
  border-right-width: 0;
  border-left-width: 1px;
  border-left-style: solid;
  -webkit-border-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(transparent)) 5 100%;
  -webkit-border-image: -webkit-linear-gradient(top, #ddd, transparent) 5 100%;
  -o-border-image: linear-gradient(to bottom, #ddd, transparent) 5 100%;
  border-image: -webkit-gradient(linear, left top, left bottom, from(#ddd), to(transparent)) 5 100%;
  border-image: linear-gradient(to bottom, #ddd, transparent) 5 100%; }

.thumb-quote {
  float: left;
  margin-right: 20px;
  text-align: center;
  font-size: 130px;
  line-height: 128px; }

.imgs-inline img {
  margin: 2px 0; }

.f-top-center {
  text-align: center; }
  .f-top-center .m-v-xl {
    display: inline-block; }

/*-------------------------------------------------------------------
    Pricing
-------------------------------------------------------------------*/
.pricing_table .pricing_item {
  background-color: #1b1c1e; }

/*-------------------------------------------------------------------
    WP
-------------------------------------------------------------------*/
article figure {
  max-width: 100%; }

table {
  margin: 20px 0;
  width: 100%;
  border: 1px solid #ddd;
  border-collapse: separate;
  border-left: 0;
  -webkit-border-radius: 4px;
  border-radius: 4px; }

table th, table td {
  padding: 8px;
  border-top: 1px solid #ddd;
  border-left: 1px solid #ddd;
  vertical-align: top;
  text-align: left;
  line-height: 18px; }

.sticky::before {
  position: absolute;
  top: 72px;
  left: -5px;
  display: inline-block;
  content: "\f08d";
  font-family: FontAwesome;
  font-size: 20px;
  z-index: 1; }

.breadcrumb span {
  word-wrap: break-word; }

.col-md-8 .container,
.projects .container {
  max-width: 100%; }

.wpcf7-textarea {
  height: 113px !important; }

.sticky {
  display: block; }

.bypostauthor {
  display: block; }

.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }

.wp-caption img[class*="wp-image-"] {
  display: block;
  margin-left: auto;
  margin-right: auto; }

.wp-caption .wp-caption-text {
  margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }

.gallery-columns-2 .gallery-item {
  max-width: 50%; }

.gallery-columns-3 .gallery-item {
  max-width: 33.33%; }

.gallery-columns-4 .gallery-item {
  max-width: 25%; }

.gallery-columns-5 .gallery-item {
  max-width: 20%; }

.gallery-columns-6 .gallery-item {
  max-width: 16.66%; }

.gallery-columns-7 .gallery-item {
  max-width: 14.28%; }

.gallery-columns-8 .gallery-item {
  max-width: 12.5%; }

.gallery-columns-9 .gallery-item {
  max-width: 11.11%; }

.gallery-caption {
  display: block; }

.vc_tta-style-classic .vc_tta-tab > a {
  background-color: #fff !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
  border-color: transparent !important;
  border-bottom-color: #f0f0f0 !important; }

.vc_tta-style-classic .vc_tta-tab.vc_active > a {
  background-color: #fff !important;
  border-color: #f0f0f0 !important;
  border-bottom-color: transparent !important; }

.vc_tta-tabs .vc_tta-panels {
  background-color: #fff !important; }

.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab > a {
  border-bottom-color: transparent !important;
  border-right-color: #f0f0f0 !important; }

.vc_tta-style-classic.vc_tta-tabs-position-left .vc_tta-tab.vc_active > a {
  border-bottom-color: #f0f0f0 !important;
  border-right-color: transparent !important; }

.vc_tta-style-classic.vc_tta-tabs-position-right .vc_tta-tab > a {
  border-bottom-color: transparent !important;
  border-left-color: #f0f0f0 !important; }

.vc_tta-style-classic.vc_tta-tabs-position-right .vc_tta-tab.vc_active > a {
  border-bottom-color: #f0f0f0 !important;
  border-left-color: transparent !important; }

/*-------------------------------------------------------------------
    WP-blog
-------------------------------------------------------------------*/
.graf_figure img {
  width: auto;
  max-width: 100%; }

.featured-image img {
  width: 100%;
  height: auto; }

.pagination {
  -webkit-border-radius: 0;
  border-radius: 0; }
  .pagination > li > a {
    color: #26282b;
    margin-left: 5px;
    margin-right: 5px; }
    .pagination > li > a:hover, .pagination > li > a:focus {
      border-color: #ffd460;
      color: #ffffff;
      background-color: #ffd460; }
  .pagination > li.active > a {
    border-color: #ffd460;
    background-color: #ffd460; }
    .pagination > li.active > a:hover, .pagination > li.active > a:focus {
      border-color: #ffd460;
      background-color: #ffd460; }
  .pagination > li:first-child > a, .pagination > li:last-child > a {
    -webkit-border-radius: 0;
    border-radius: 0; }
  .pagination > li:last-child > a {
    margin-right: 0; }

.pager > li > a:hover, .pager > li > a:focus, .pager > li > a:active {
  color: #ffffff;
  border-color: #ffd460;
  background-color: #ffd460; }

.comments-area {
  margin-top: 50px;
  margin-bottom: 50px;
  padding-top: 20px;
  border-top: 1px solid rgba(0, 0, 0, 0.1); }

.comments-title {
  font-size: 16px;
  font-weight: 400;
  text-transform: none;
  margin-bottom: 50px; }

.comment-list {
  list-style: none;
  padding: 0; }

.comment-list .children {
  list-style: none; }
  .comment-list .children .comment {
    margin-left: 25px; }

.comment-body {
  position: relative;
  margin-bottom: 30px; }

.comment-author .fn {
  display: inline-block;
  text-transform: uppercase; }

.avatar {
  position: relative;
  float: left;
  width: 50px;
  height: 50px;
  -webkit-border-radius: 0;
  border-radius: 0;
  margin-right: 15px; }

.comment-metadata {
  line-height: normal;
  position: absolute;
  top: 0px;
  right: 0px;
  margin-top: 2px;
  font-size: 11px;
  color: #b5b9c0; }

.comment-content {
  padding-left: 65px; }
  .comment-content p {
    margin-bottom: 0; }

.reply {
  padding-left: 65px;
  font-size: 13px;
  color: #b5b9c0; }

.comment-reply-title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 50px;
  font-weight: 600; }

.comment-notes {
  margin-bottom: 20px;
  color: #b5b9c0; }

.comment-respond {
  position: relative; }
  .comment-respond input {
    display: block;
    width: 100%;
    height: 46px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 30px;
    -webkit-box-shadow: none;
    box-shadow: none; }
  .comment-respond .submit {
    height: auto;
    font-weight: 400;
    outline: 0 !important;
    padding: 12px 30px;
    color: #26282b;
    background-color: #ffd460;
    border-color: #ffd460; }
    .comment-respond .submit:focus, .comment-respond .submit.focus {
      color: #26282b !important;
      background-color: #ffc62d !important;
      border-color: #ffc323 !important; }
    .comment-respond .submit:hover {
      color: #26282b;
      background-color: #ffcd47;
      border-color: #ffcc41; }

.comment-form-comment label {
  display: block; }
.comment-form-comment textarea {
  display: block;
  width: 100%;
  height: 251px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 30px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); }

@media (min-width: 768px) {
  .logged-in-as + .comment-form-comment {
    float: none;
    width: 100%; }

  .comment-form-author,
  .comment-form-email,
  .comment-form-url {
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; }

  .comment-form-comment {
    float: right;
    width: 50%;
    padding-left: 15px;
    padding-right: 15px; } }
/*-------------------------------------------------------------------
    WP-widget
-------------------------------------------------------------------*/
.widget ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }
  .widget ul li {
    position: relative;
    display: block; }

.widget {
  margin-bottom: 30px; }
  .widgettitle, .widget-title {
    position: relative;
    font-size: 14px;
    padding-bottom: 20px;
    margin-bottom: 20px; }
    .widgettitle::before, .widget-title::before {
      content: '';
      position: absolute;
      width: 34px;
      height: 3px;
      bottom: 0;
      background-color: #ffd460; }
  .widget_tag_cloud .tagcloud a {
    display: inline-block;
    padding: 4px 12px;
    margin-bottom: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    background-color: #f4f4f4; }
  .widget_archive ul li {
    padding: 10px 15px; }
    .widget_archive ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_archive ul li a {
      position: relative;
      display: inline; }
  .widget select {
    width: 100%;
    background-color: transparent;
    padding: 6px 10px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: 1px solid #26282b; }
  .widget_calendar .calendar_wrap table {
    width: 100%; }
    .widget_calendar .calendar_wrap table thead tr {
      border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .widget_calendar .calendar_wrap table tbody tr {
      border-top: 1px solid rgba(0, 0, 0, 0.1); }
    .widget_calendar .calendar_wrap table tr th, .widget_calendar .calendar_wrap table tr td {
      padding: 8px; }
  .widget_categories ul li {
    padding: 10px 15px; }
    .widget_categories ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_categories ul li a {
      position: relative;
      display: inline; }
  .widget_pages ul li {
    padding: 10px 15px; }
    .widget_pages ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_pages ul li a {
      position: relative;
      display: inline; }
  .widget_meta ul li {
    padding: 10px 15px; }
    .widget_meta ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_meta ul li a {
      position: relative;
      display: inline; }
  .widget_recent_comments ul li {
    padding: 10px 15px; }
    .widget_recent_comments ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_recent_comments ul li a {
      position: relative;
      display: inline; }
  .widget_recent_entries ul li {
    padding: 10px 15px; }
    .widget_recent_entries ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_recent_entries ul li a {
      position: relative;
      display: inline; }
    .widget_recent_entries ul li span {
      font-size: 12px;
      color: #999fa9; }
  .widget_rss .rss-widget-icon {
    width: auto;
    max-width: 100%; }
  .widget_rss ul li {
    padding: 10px 0; }
  .widget_rss .rsswidget {
    font-weight: 600; }
  .widget_rss .rss-date {
    font-size: 12px;
    color: #999fa9; }
  .widget_rss .rssSummary {
    margin-top: 6px;
    margin-bottom: 6px; }
  .widget_text img {
    width: auto;
    max-width: 100%;
    height: auto; }
  .widget_text select {
    width: 100%; }
  .widget_nav_menu ul li {
    padding: 10px 15px; }
    .widget_nav_menu ul li::before {
      content: "\f105";
      position: relative;
      left: -10px;
      font-family: 'FontAwesome'; }
    .widget_nav_menu ul li a {
      position: relative;
      display: inline; }
  .widget_nav_menu ul.sub-menu li {
    padding: 10px 15px 0; }

.bg-dark .widget_tag_cloud .tagcloud a {
  background-color: #1b1c1e; }
.bg-dark .widget select {
  border-color: #ffffff; }
